*.a
*.d
*.o
*.so
*.ts

/bin
/include
/jit
/library
/libtool

/Makeconf
/Makefile
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m
/config.log
/config.status

/doc/manual/R-*.html
/doc/Makefile
/doc/NEWS.rds
/doc/R.1
/doc/html/Makefile
/doc/html/index.html
/doc/html/packages.html
/doc/manual/Makefile
/doc/manual/version.texi

/etc/*
!/etc/*.in

/m4/Makefile

/po/Makefile

/share/Makefile

/src/**/Makedeps
/src/**/Makefile

/src/extra/sparsehash/.deps/
/src/extra/sparsehash/autom4te.cache/
/src/extra/sparsehash/config.log
/src/extra/sparsehash/config.status
/src/extra/sparsehash/src/sparsehash/internal/sparseconfig.h
/src/extra/sparsehash/src/stamp-h1

/src/include/*.tsa
/src/include/CXXR/stamp-R
/src/include/R_ext/stamp-R
/src/include/Rconfig.h
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rversion.h
/src/include/config.h
/src/include/stamp-R
/src/include/stamp-h

/src/library/stamp-docs
/src/library/*.inn
/src/library/*/all.R
/src/library/*/DESCRIPTION

/src/library/Recommended/stamp-recommended

/src/main/R.bin
/src/main/jit/RuntimeImpl.bc

/src/scripts/Makefile
/src/scripts/R.fe
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags

/src/unix/Rscript

/tests/Makefile
/tools/Makefile
/tests/*/Makefile

/stamp-java
