language: cpp
compiler: clang
before_install: sudo apt-get update -qq
install:
        - sudo apt-get install -y
          libboost1.48-all-dev
          gfortran
script:
        - ./configure
        - travis_wait 60 make -j 2
        - make -j 2 check
